<div class="col-xs-10 col-xs-offset-1">
 <div class="jumbotron">
  <h1 class="display-3">We are Prescine Movers.</h1>
  <p class="lead">Best service. Best prices. Sutisfaction guarantied.</p>
  <hr class="my-4">
  <p>Here you can find all necessary information about moving, transportation and other services we provide, check our reviews and get your quote.</p>
  <p class="lead">
      <%= link_to "Get Quote", create_reservation_path(:locations),  { :class=>"btn btn-danger pull-right"}  %>
  </p>
</div>
</div>
